---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -modernize-use-trailing-return-type,
        -zircon-*,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -readability-avoid-const-params-in-decls,
        -readability-convert-member-functions-to-static,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -misc-non-private-member-variables-in-classes,
        -*-pro-bounds-avoid-unchecked-container-access,
        -readability-redundant-access-specifiers,
        -misc-use-internal-linkage,
        -cppcoreguidelines-avoid-do-while,
        -bugprone-easily-swappable-parameters,
        -misc-const-correctness,
        -cppcoreguidelines-pro-type-union-access,
        -hicpp-no-access-of-members-of-unions,
        -cppcoreguidelines-pro-type-reinterpret-cast,
        -hicpp-no-reinterpret-cast,
        -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
        -hicpp-no-array-decay,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic,
        -hicpp-no-pointer-arithmetic,
        -cppcoreguidelines-avoid-c-arrays,
        -hicpp-avoid-c-arrays,
        -modernize-avoid-c-arrays,
"
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle:     none
